* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

.title {
    text-align: center;
    padding: 20px 0;
}
.title h1 {
    font-size: 50px;
    display: inline;
    margin: 0 20px;
    color:black;
}
.title i {
    font-size: 30px;
}
h2 {
    font-size: 35px;
    margin: 15px 0;
    text-transform: uppercase;
    color: red;
}

.list_container {
    width: 60%;
    padding: 20px 0;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

.list_container ul {
    list-style: inside circle;
}

.list_container ul li {
   font-size: 30px;
   padding: 20px 0;
   text-transform: uppercase;
}
.list_container ul li.completed {
    text-decoration: line-through;
}

.list_container ul li i {
    cursor: pointer;
    color: red;
}

.input > input {
    width: 50%;
    padding: 20px 0;
    border: 2px solid red;
    border-radius: 5px;
}

.input > button {
    margin-left: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid red;
    font-weight: bolder;
}