<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue ToDoList</title>
</head>
<body>
    <div class="title">
        <i class="fas fa-check-double"></i>
        <h1>Vue ToDoList</h1>
        <i class="fas fa-check-double"></i>
    </div>
    <div id="root">
        <div class="list_container">
            <ul v-if="toDoList.length > 0">
                <li v-for="object, index in toDoList">{{ object.text }} <i class="far fa-times-circle" @click="removeObject(index)"></i></li>
            </ul>
            <h2 v-else>Non ci sono più attività da mostrare</h2>
            <div class="input">
                <input type="text" placeholder="Aggiungi quì una nuova attività" @keypress.enter="addObject">
            </div>
        </div>
    </div>
    




    <script src="js/script.js"></script>
</body>
</html>